body {
  font-family: "Poppins", sans-serif;
}
.color-white {
  color: white !important;
}

.survey-wrapper {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 0px;

  // background-image:
  // linear-gradient(to bottom, rgba(71, 71, 71, 0.72), rgba(0, 0, 0, 0.83)),
  // url('../assets/pexels-lukas-669619.jpg');
  background-size: cover;

  .wizard-title {
    font-size: 35px;
    font-weight: 600;
  }

  .cards-section {
    box-shadow: rgba(87, 86, 86, 0.2) 0px 2px 8px 0px;
    width: 40%;
    background-color: white;
    border-radius: 8px;
  }

  .title {
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 20px 20px;
    font-weight: 600;
  }

  .card-form {
    padding: 30px 20px;

    .question {
      margin-top: 15px;
      .answer {
        font-weight: normal;
        font-size: 16px;

        .mandatory {
          color: rgb(255, 0, 0);
          font-weight: bold;
          font-size: 12px;
        }
        .optional {
          color: rgb(64, 224, 0);
          font-weight: bold;
          font-size: 12px;
        }
      }
      .text {
        font-weight: bold;
      }
    }

    .error {
      margin-top: 10px;
      margin-bottom: 0px;
      color: red;
    }

    .form-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: end;
      button {
        margin: 0px 10px;
      }
    }
  }

  .nextBtn {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    &:hover {
      // background-color: rgb(255, 255, 255);
      border: 1px solid black;
      // color: black;
    }
  }
  .prevBtn {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

    &:hover {
      // background-color: rgb(255, 255, 255);
      border: 1px solid black;
      // color: black;
    }
  }

  .card-width {
    width: 75% !important;
  }

  .final-msg {
    font-size: 52px;
    text-align: center;
  }

  .dropdown-button {
    display: flex;
    justify-content: space-between;
  }
}

.survey-result {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 60px 0px;

  .cards-section {
    box-shadow: rgba(10, 10, 10, 0.2) 0px 2px 8px 0px;
    width: 40%;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 60px;
    .result-title {
      font-size: 25px;
      font-weight: bold;
    }
    .svg-img {
      font-size: 122px;
      color: rgb(9, 204, 9);
    }
  }
}

@media only screen and (max-width: 992px) {
  .survey-wrapper {
    .cards-section {
      width: 90% !important;
    }
  }

  .card-width {
    width: 90% !important;
  }
}

.ant-table-thead > tr > th {
  font-weight: bold;
}

.table-answer-style {
  color: rgb(71, 188, 58);
}
